.additionals {
  width: 320px;
}

.additionals__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
}

.additionals__list {
  @include list-reset;
}

@include tablet-up {
  .additionals {
    width: 708px;
  }

  .additionals__title {
    font-size: 36px;
    line-height: 36px;
  }
}

@include desktop-up {
  .additionals {
    width: 1220px;
  }

  .additionals__wrapper {
    display: flex;
  }
}
