.add-details {
  display: flex;
}

.add-details__key,
.add-details__value {
  font-size: 14px;
  line-height: 14px;
}

@include tablet-up {
  .add-details__key,
  .add-details__value {
    font-size: 16px;
    line-height: 20px;
  }
}
