.checkbox {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}

.checkbox__label {
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}

@include tablet-up {
  .checkbox__label {
    font-size: 20px;
    line-height: 20px;
  }
}
