.examples {
  background-color: #f2f2f2;
}

.examples__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

.examples__description {
  font-size: 14px;
}


@include tablet-up {
  .examples__title {
    font-size: 60px;
  }

  .examples__description {
    font-size: 16px;
    line-height: 24px;
  }
}
