.features {
  width: 280px;
}

.features__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

.features__items {
  @include list-reset;
}

@include tablet-up {
  .features {
    width: 708px;
  }

  .features__title {
    font-size: 60px;
  }

  .features__items {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    flex-basis: 50%;
  }
}

@include desktop-up {
  .features {
    width: 1220px;
  }

  .features__items {
    display: flex;
    flex-wrap: nowrap;
  }

  .features__item {
    flex-basis: 25%;
  }
}
