.index-promo {
  background-color: #68b738;
  font-family: Oswald, Arial, sans-serif;
  color: #ffffff;
}

.index-promo__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.index-promo__slogan {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

@include tablet-up {
  .index-promo {
    color: #111111;
  }

  .index-promo__title {
    font-size: 60px;
    line-height: 60px;
  }

  .index-promo__slogan {
    font-size: 20px;
    line-height: 20px;
  }
}
