.main-nav {
  position: relative;
}

.main-nav__toggle {
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 18px;
  padding: 0;
  border: none;
  outline: none;
  font-size: 0;
  background: url("../img/icon-close.svg") 100% 50% no-repeat;
  position: absolute;
  top: -42px;
  right: 20px;
}

@include tablet-up {
  .main-nav__toggle {
    display: none;
  }
}
