.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  width: 24px;
  height: 24px;
  top: -21px;
  right: 20px;
}

@include tablet-up {
  .main-nav__toggle {
    display: none;
  }
}
