.map {
  background-color: #f2f2f2;
}

.map__info {
  display: flex;
}

.map__partners {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.map__address {
  line-height: 20px;
  color: #444444;
}

.map__canvas {
  height: 200px;
  background-color: #fdf7f0;
}

@include tablet-up {
  .map__partners {
    font-size: 20px;
    line-height: 25px;
  }

  .map__address {
    font-size: 16px;
    line-height: 20px;
  }
}
