.map {
  position: relative;
}

.map__info {
  display: flex;
  width: 280px;
  background-color: #ffffff;
}

.map__partners {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.map__address {
  line-height: 20px;
  color: #444444;
}

.map__canvas {
  height: 200px;
  background-color: #fdf7f0;
}

@include tablet-up {
  .map__info {
    width: 708px;
  }

  .map__partners {
    font-size: 20px;
    line-height: 25px;
  }

  .map__address {
    font-size: 16px;
    line-height: 20px;
  }
}

@include desktop-up {
  .map__info {
    position: absolute;
    width: 570px;
    left: 110px;
    top: 50%;
    transform: translateY(-50%);
  }
}
