.page-footer {
  width: 280px;
  background-color: #f2f2f2;
}

@include tablet-up {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
  }

  .page-footer__logo,
  .page-footer__social,
  .page-footer__author {
    flex-basis: 30%;
  }
}

@include desktop-up {
  .page-footer {
    width: 1220px;
  }
}
