.page-footer {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding-right: 20px;
  padding-left: 20px;
}

@include tablet-up {
  .page-footer{
    flex-direction: row;
    justify-content: space-between;
  }
}
