.page-catalog {
  background-color: #ffffff;
}

.page-catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

@include tablet-up {
  .page-catalog__title {
    font-size: 60px;
  }
}
