.program {}

.program__title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  line-height: 37.02px;
  color: #111111;
}


.program__link {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-decoration: none;
  text-transform: uppercase;

    &:active {
      color: rgba(17,17,17,0.3);
    }
}

@include tablet-up {
  .program__title {
    font-size: 36px;
  }

  .program_description {
    font-size: 16px;
    line-height: 24px;
  }

  .program__link {
    font-size: 20px;
    line-height: 20px;
  }
}
