.site-list {
  @include list-reset;
}

.site-list__link {
  color: #111111;

  &:hover {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

@include tablet-up {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .site-list__link {
    color: #222222;

    &:hover {
      color: rgba(34, 34, 34, 0.6);
    }

    &:active {
      color: rgba(34, 34, 34, 0.3);
    }
  }
}

@include desktop-up {
  .site-list__link {
    background-color: #68b738;
    color: #ffffff;

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
