.stats {
  display: flex;
  flex-wrap: wrap;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #111111;
}

.stats__col-weight {
  font-size: 30px;
  line-height: 37.02px;
}

.stats__col-time {
  font-size: 24px;
  line-height: 24px;
}

.stats__upcase {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}

.stats__row-result {
  font-size: 14px;
  line-height: 20px;
}

@include tablet-up {
  .stats {
    flex-direction: row;
  }

  .stats__col-weight,
  .stats__col-time {
    font-size: 30px;
    line-height: 37.02px;
  }

  .stats__upcase {
    font-size: 14px;
    line-height: 14px;
  }

  .stats__row-result {
    font-size: 20px;
  }
}
