// Сброс стилей списков
@mixin list-reset {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

@mixin tablet-up {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop-up {
  @media screen and (min-width: 1300px) {
    @content;
  }
}
