@font-face {
  font-family: 'oswaldregular';
  src: url("fonts/oswaldregular.woff") format ('woff');
  src: url("fonts/oswaldregular.woff2") format ('woff2');
  font-weight: normal;
  font-style: normal;
}
